body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #322968;
  background: white;
}

body,
html {
  width: 100vw;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

[x-cloak] {
  display: none;
}

.comment-holder-dom {
  position: relative;
}

#App * {
  scrollbar-width: none;
}

h1 {
  text-align: center;
}

.plan-item {
  display: none;
}
.plan-item.isVisible {
  display: flex;
  flex-direction: row;
  gap: 20px;
  max-width: 100vw;
  padding: 12px;
  padding-bottom: 65px;
}

#Plans,
#PlanSelector {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.4s ease;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}
#Plans.isVisible,
#PlanSelector.isVisible {
  opacity: 100%;
  transform: translateX(0);
  position: static;
  pointer-events: unset;
  height: auto;
}

#PlanSelector {
  display: flex;
  gap: 40px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin-inline: auto;
  max-width: 850px;
  flex-wrap: wrap;
}
#PlanSelector.isVisible {
  height: 100dvh;
}

.plan-selector {
  padding: 40px;
  color: white;
  aspect-ratio: 1/1;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  border-radius: 80px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}
.plan-selector,
.plan-selector * {
  transition: all ease 0.25s;
}
.plan-selector-icon {
  max-width: 200px;
}
.plan-selector-dates {
  font-size: 16px;
}
.plan-selector-title {
  margin-top: 12px;
  font-weight: bold;
  font-size: 24px;
}
.plan-selector::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(38, 62, 72, 0.5803921569);
  z-index: -1;
  backdrop-filter: blur(2px);
}
.plan-selector-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  overflow: hidden;
}
.plan-selector-bg-img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.plan-selector:hover {
  box-shadow: 0px 10px 61px 0px rgba(0, 0, 0, 0.35);
}
.plan-selector:hover .plan-selector-bg-img {
  width: calc(100% + 20px);
  height: calc(100% + 20px);
}
.plan-selector:hover::before {
  backdrop-filter: blur(0);
}

.area-main {
  max-width: 1200px;
  margin-inline: auto;
  padding-right: 60px;
  width: 100%;
}
.area-main > .group {
  border: none;
  gap: 24px;
  border-radius: 24px;
}

.day-nr {
  text-transform: uppercase;
  padding: 4px 12px;
  background: #e0f4f4;
  color: #479696;
  margin-right: 12px;
  border-radius: 20px;
}

.group {
  padding: 16px 12px;
  background: rgba(233, 233, 233, 0.2784313725);
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 0.95em;
}
.group-title {
  font-size: 1.2em;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.group-title .date {
  font-weight: normal;
  margin-left: auto;
  display: inline-block;
  font-size: 0.9em;
}
.group-content:last-child {
  margin-bottom: 0;
}
.group .group {
  --accentColorBg: #322968;
  --accentColor: white;
  position: relative;
  gap: 0;
  border-left: 5px solid var(--accentColorBg);
  padding-top: 24px;
}
.group .group > .group-item:nth-child(even) {
  background: rgba(225, 225, 225, 0.4392156863);
}
.group .group.gDefault {
  padding-bottom: 0;
  border-top-left-radius: 16px;
}
.group .group.gDefault .gDefault::before {
  content: "SUB-PLAN";
}
.group .group.gSections {
  border: none;
  padding: 0;
  gap: 12px;
}
.group .group.gSections::before {
  display: none;
}
.group .group.gSections > .group-item {
  padding: 0;
}
.group .group.gSections > .group-item:has(> .group-icon) {
  padding-left: 52px;
}
.group .group.gSections > .group-item:nth-child(even) {
  background: none;
}
.group .group.gTicketOptions {
  --accentColorBg: #ffe29e;
  --accentColor: #b69375;
  flex-direction: row;
  border: 5px solid var(--accentColorBg);
  border-radius: 16px;
}
.group .group.gTicketOptions::before {
  content: "TICKET OPTIONS";
  top: -5px;
  left: -5px;
  border-radius: 0;
  border-bottom-right-radius: 10px;
}
.group .group.gTicketOptions > div {
  flex: 1 1;
}
.group .group.gTimes {
  --accentColorBg: #9eb8ff;
  --accentColor: #4d6486;
  flex-direction: row;
  border: 5px solid var(--accentColorBg);
  border-radius: 16px;
}
.group .group.gTimes::before {
  content: "TIMES";
  top: -5px;
  left: -5px;
  border-radius: 0;
  border-bottom-right-radius: 10px;
}
.group .group.gTimes > div {
  flex: 1 1;
}
.group .group::before {
  content: "PLAN";
  position: absolute;
  left: 0;
  top: 0;
  padding: 4px 10px;
  font-size: 0.7em;
  font-weight: bold;
  background: var(--accentColorBg);
  color: var(--accentColor);
  letter-spacing: 1px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
}
.group .group .group-content {
  margin-top: -0.65em;
}
.group-item {
  position: relative;
  padding: 12px 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 16px;
}
.group-item:has(> .group-icon) {
  padding-left: 52px;
}
.group-item.filterable-hidden:not(:has(.filterable-visible)), .group-item:not(.filterable-visible):has(.filterable-hidden):not(:has(.filterable-visible)) {
  display: none;
}
.group-time {
  position: absolute;
  right: 16px;
  font-size: 0.9em;
  top: 11px;
  background: #eaefff;
  padding: 4px 10px;
  font-weight: bold;
  color: #4f7cff;
  border-radius: 10px;
}
.group-icon {
  position: absolute;
  left: 10px;
  background: #e7e4f2;
  aspect-ratio: 1/1;
  display: block;
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
  display: flex;
  top: 10px;
  border-radius: 8px;
}
.group-icon svg {
  fill: #4b417b;
}
.group-icon svg.iOrange {
  fill: #ff5b4c;
}
.group-icon:has(> .iOrange) {
  background: #ffe9e6;
}
.group-price::before, .group-priceTransportation::before {
  display: inline-block;
  content: "Price: ";
  margin-right: 5px;
  font-weight: bold;
}
.group-priceTransportation::before {
  content: "Price (Transportation): ";
}
.group-links::before {
  display: block;
  content: "Resources:";
  font-weight: bold;
}
.group-links a {
  display: flex;
  align-items: center;
  color: #322968;
}
.group-links a svg {
  display: inline-block;
  margin-right: 5px;
  aspect-ratio: 1/1;
  width: 16px;
  fill: #322968;
}
.group-transportationTime {
  position: absolute;
  left: calc(100% + 10px);
  top: 0;
  transform: translateY(-50%);
  padding: 3px 10px;
  background: #f9e2ed;
  font-size: 0.8em;
  font-weight: bold;
  display: flex;
  gap: 4px;
  align-items: center;
  color: #ce528d;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.group-transportationTime span {
  white-space: nowrap;
}
.group-transportationTime svg {
  fill: #ce528d;
  aspect-ratio: 1/1;
  height: 16px;
  width: auto;
}
.group-transportationTime::before {
  content: "";
  background-image: url("./img/icons/time-drive.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  aspect-ratio: 1/1;
  width: 16px;
  background-position: center center;
}
.group-transportationTime::after {
  content: "";
  height: 80px;
  position: absolute;
  border-left: 5px dotted #f9c1dc;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.group-transportationTime:has(svg)::before {
  display: none;
}
.group-transportationTime:has(> .tClock)::before {
  background-image: url("./img/icons/time-clock.svg");
}
.group-location a {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #322968;
}
.group-location svg {
  height: 16px;
  width: auto;
  fill: #322968;
}
.group-mapLoc {
  display: none;
}
.group-map {
  display: none;
}

.gal {
  overflow-x: auto;
}
.gal-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 4px;
}
.gal-img {
  aspect-ratio: 1/1;
  height: 100%;
  min-width: 320px;
  max-height: 320px;
}
.gal-img img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wechat {
  padding: 8px;
  border: 4px solid #d2dada;
  text-align: left;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 4px;
  background: #eef0f1;
  padding-top: 30px;
  border-radius: 16px;
}
.wechat::before {
  content: "WECHAT";
  display: block;
  font-weight: bold;
  color: #479696;
  font-size: 0.75em;
  background: #d2dada;
  padding: 4px 10px;
  position: absolute;
  left: -4px;
  top: -4px;
  border-bottom-right-radius: 10px;
}
.wechat:hover .wechat-img {
  display: block;
}
.wechat-label {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  font-weight: 600;
}
.wechat-label svg {
  fill: #322968;
}
.wechat-img {
  display: none;
  max-width: 150px;
  filter: grayscale(1) contrast(1.5);
  mix-blend-mode: darken;
}

.todo {
  position: fixed;
  right: 10px;
  bottom: 10px;
  font-size: 8px;
  z-index: 100;
  color: red;
  opacity: 0.5;
}

.comment {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(134, 138, 128, 0.45);
  z-index: 99999;
  opacity: 100%;
  transition: opacity 0.2s ease;
}
.comment.isHidden {
  opacity: 0;
  pointer-events: none;
}
.comment-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  width: min(450px, 100vw - 2rem);
  border-radius: 12px;
  padding: 22px;
  padding-top: 32px;
  background: rgba(255, 255, 255, 0.6745098039);
  background: linear-gradient(321deg, rgba(255, 255, 255, 0.7) 0%, rgba(235, 235, 235, 0.7) 100%);
  backdrop-filter: blur(8px);
  border-radius: 30px;
  box-shadow: 0 12px 60px rgba(0, 0, 0, 0.12), 0 2px 8px rgba(0, 0, 0, 0.18);
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 1000;
}
.comment-form button,
.comment-form textarea {
  appearance: none;
  outline: none;
  box-shadow: none;
  border: none;
}
.comment-form button {
  background: black;
  color: white;
  padding: 12px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  flex: 1 1;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1215686275);
}
.comment-form button.button-sec {
  color: #3a8e9b;
  background: #d1ecf0;
}
.comment-header {
  display: none !important;
  background: black;
  color: white;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.comment-header span {
  flex: 1;
}
.comment-header svg {
  cursor: pointer;
  fill: white;
}
.comment-buttons {
  display: flex;
  flex-direction: row;
  gap: 12px;
  padding: 10px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.3411764706);
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1215686275);
  overflow: hidden;
}
.comment-input-wrapper {
  position: relative;
}
.comment-loader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5411764706);
  z-index: 99999;
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.comment-loader svg {
  fill: white;
  width: 48px;
  height: 48px;
  animation: rotate 2s linear infinite;
}

.wysi-wrapper {
  background: rgba(255, 255, 255, 0.3294117647);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.comments-msgs {
  position: absolute;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 999;
  right: calc(100% + 8px);
  top: 0;
}
.comments-msgs:has(.local) .comments-count {
  background: #30c4f1;
}
.comments-msgs:has(.public) .comments-count {
  background: #f1306f;
}
.comments-msgs:has(.local):has(.public) .comments-count {
  background: #f1a430;
}
.comments-msgs-list {
  flex-direction: column;
  gap: 8px;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 12px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2941176471);
  border-radius: 10px;
  border-top-left-radius: 0;
  background: linear-gradient(321deg, rgba(255, 255, 255, 0.7) 0%, rgba(235, 235, 235, 0.7) 100%);
  backdrop-filter: blur(8px);
}
.comments-msgs.isVisible {
  z-index: 1000;
}
.comments-msgs.isVisible .comments-msgs-list {
  display: flex;
  max-width: 50vw;
  width: 250px;
}
.comments-msgs.isVisible .comments-toggle {
  z-index: 999;
  position: relative;
  background-color: rgba(255, 255, 255, 0.6196078431);
  backdrop-filter: blur(8px);
}
.comments-count {
  border-radius: 20px;
  background: #f1306f;
  color: white;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
  padding: 0 5px;
}
.comments-toggle {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-image: url("./img/icons/chat.svg");
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.comment-msg {
  font-weight: normal;
  display: flex;
  flex-direction: row;
  gap: 12px;
  padding: 4px 8px;
  background: rgba(161, 161, 161, 0.2588235294);
  border-radius: 8px;
  position: relative;
  color: #323232;
}
.comment-msg:first-child, .comment-msg:not(.myMsg) + .myMsg, .comment-msg.myMsg + :not(.myMsg) {
  margin-top: 20px;
}
.comment-msg:first-child::before, .comment-msg:not(.myMsg) + .myMsg::before, .comment-msg.myMsg + :not(.myMsg)::before {
  content: attr(data-auth);
  display: block;
  font-size: 10px;
  position: absolute;
  top: -17px;
  opacity: 0.7;
}
.comment-msg::after {
  display: block;
  content: "";
  top: 0;
  position: absolute;
  border-top: 15px solid rgba(161, 161, 161, 0.2588235294);
}
.comment-msg:not(.myMsg) {
  margin-left: 15px;
  border-top-left-radius: 0;
  margin-right: auto;
}
.comment-msg:not(.myMsg)::after {
  left: -15px;
  border-left: 15px solid transparent;
}
.comment-msg:not(.myMsg) + :not(.myMsg)::after {
  display: none;
}
.comment-msg.myMsg {
  border-top-right-radius: 0;
  margin-right: 15px;
  background: rgba(79, 124, 255, 0.1882352941);
  margin-left: auto;
}
.comment-msg.myMsg::before {
  right: 0;
}
.comment-msg.myMsg::after {
  right: -15px;
  border-right: 15px solid transparent;
  border-top-color: rgba(79, 124, 255, 0.1882352941);
}
.comment-msg.myMsg + .myMsg::after {
  display: none;
}
.comment-msg p {
  margin: 0;
}
.comment-msg-content {
  padding-top: 2px;
  flex: 1;
}
.comment-msg-delete {
  box-sizing: border-box;
  aspect-ratio: 1/1;
  max-height: 22px;
  min-width: 22px;
  background: #f3d7d7;
  cursor: pointer;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
}
.comment-msg-delete svg {
  fill: #ce528d;
}

.comment-mode {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 12px;
  z-index: 100;
}
.comment-mode-text {
  font-size: 12px;
  color: red;
  max-width: 200px;
  text-align: right;
  line-height: 1;
}
.comment-mode-button {
  background: white;
  width: 32px;
  height: 32px;
  cursor: pointer;
  display: flex;
  padding: 4px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2941176471);
  box-sizing: border-box;
}
.comment-mode-status {
  font-weight: bold;
}

body:not(.comment-mode-active) .comment-form {
  display: none;
}
body:not(.comment-mode-active) .comments-msgs {
  display: none;
}
body:not(.comment-mode-active) .detached-comments {
  display: none;
}

.weBubble {
  position: absolute;
  padding: 8px 14px;
  background: white;
  color: #111;
  border-radius: 999px;
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
  pointer-events: none;
  z-index: 1;
  opacity: 0;
  transform: scale(0.7) translateY(8px);
  animation: bubbleFade 2.5s ease-in-out forwards;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.12);
}
.weBubble::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: white;
  bottom: -3px;
  left: 20px;
  transform: rotate(45deg);
}

@keyframes bubbleFade {
  0% {
    opacity: 0;
    transform: scale(0.7) translateY(8px);
  }
  20% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
  70% {
    opacity: 1;
    transform: scale(1) translateY(-3px);
  }
  100% {
    opacity: 0;
    transform: scale(0.85) translateY(-12px);
  }
}
.newMenu {
  position: fixed;
  bottom: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
  max-width: calc(100vw - 20px);
  background: rgba(255, 255, 255, 0.6745098039);
  background: linear-gradient(321deg, rgba(255, 255, 255, 0.7) 0%, rgba(235, 235, 235, 0.7) 100%);
  backdrop-filter: blur(8px);
  border-radius: 30px;
  padding: 20px;
  box-shadow: 0 0 25px 0px rgba(59, 59, 59, 0.2117647059);
  z-index: 9999;
}
.newMenu.isFilter {
  border-radius: 24px;
}
.newMenu, .newMenu * {
  transition: all 0.25s ease;
  scrollbar-width: none;
}
.newMenu svg {
  fill: #2f2f3a;
}
.newMenu-filterItems {
  padding-inline: 10px;
  overflow: hidden;
}
.newMenu-item {
  display: flex;
  gap: 0px;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}
.newMenu-item.isDisabled {
  pointer-events: none;
}
.newMenu-item.isDisabled svg {
  fill: #828282;
}
.newMenu-item.isActive {
  background: #e0d7f3;
  color: #391d84;
  gap: 6px;
}
.newMenu-item.isActive.newMenu-comment {
  background: #fbf0d4;
  color: #ca9a23;
}
.newMenu-item.isActive.newMenu-comment svg {
  fill: #ca9a23;
}
.newMenu-item.isActive svg {
  fill: #391d84;
}
.newMenu-item.isActive .newMenu-itemText {
  max-width: 150px;
}
.newMenu-itemText {
  max-width: 0;
  overflow: hidden;
  white-space: nowrap;
}
.newMenu-menuItems {
  overflow: auto;
  flex: 1;
}
.newMenu-menuWrapper {
  display: flex;
  max-height: 0;
  overflow: hidden;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  max-width: min(420px, 100vw - 20px);
  width: 100%;
  background: rgba(255, 255, 255, 0.6745098039);
  background: linear-gradient(321deg, rgba(255, 255, 255, 0.7) 0%, rgba(235, 235, 235, 0.7) 100%);
  backdrop-filter: blur(8px);
  bottom: 120px;
  box-shadow: 0 0 25px 0px rgba(59, 59, 59, 0.2117647059);
  border-radius: 30px;
  z-index: 999999;
}
.newMenu-menuWrapper * {
  scrollbar-width: none;
}
.newMenu-menuWrapperInner {
  padding: 20px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 100%;
}
.newMenu-menuWrapperInner.isFilter {
  padding: 0px;
}
.newMenu-menuWrapper.isFilter {
  margin-inline: auto;
  width: auto;
  display: inline-block;
}
.newMenu-menuWrapper.isActive {
  max-height: min(500px, 80vh);
}
.newMenu-search {
  padding: 12px 20px;
  border-radius: 30px;
  border: none;
  box-shadow: none;
  outline: none;
  width: 100%;
  font-size: 16px;
  opacity: 0.75;
  color: black;
}

.menu {
  display: none;
}
.menu.isActive {
  display: block;
}
.menu * {
  transition: all ease 0.25s;
  scrollbar-width: none;
}
.menu-link {
  color: black;
  padding: 12px 0;
  text-decoration: none;
  display: block;
  border-radius: 10px;
  flex: 1;
}
.menu .date {
  font-size: 11px;
  color: #434343;
}
.menu .day-nr {
  text-transform: uppercase;
  border-radius: 30px;
  font-size: 12px;
  font-weight: bold;
  background: #fbf0d4;
  color: #ca9a23;
  padding: 2px 8px;
  margin-right: 5px;
}
.menu-chevron {
  display: none;
  aspect-ratio: 1/1;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.menu-chevron svg {
  fill: black;
  transform: rotate(180deg);
}
.menu-item {
  width: 100%;
  cursor: pointer;
}
.menu-item .menu-children {
  max-height: 0;
  padding-left: 10px;
  border-left: 5px solid rgba(57, 29, 132, 0.273);
  background: linear-gradient(321deg, rgba(255, 255, 255, 0.2) 0%, rgba(235, 235, 235, 0.2) 100%);
  backdrop-filter: blur(8px);
  border-radius: 0 0 20px 0;
  overflow: hidden;
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
}
.menu-item .menu-children .menu-link {
  padding: 0.8em;
}
.menu-item.isOpen > .menu-children {
  max-height: 450px;
}
.menu-item.isOpen > .menu-item-title > .menu-chevron svg {
  transform: rotate(0);
}
.menu-item.isOpen > .menu-item-title > .menu-link, .menu-item:hover > .menu-item-title > .menu-link {
  color: #391d84;
  font-weight: 600;
}
.menu-item-title {
  display: flex;
  gap: 8px;
  align-items: center;
}
.menu-item.hasChildren > .menu-item-title > .menu-chevron {
  display: flex;
}
.menu-item.searchable-hidden {
  display: none;
}
.menu-item:has(.searchable-visible) {
  display: block;
}
.menu-item:has(.searchable-visible) > .menu-children {
  max-height: 450px;
}
.menu-item:has(.searchable-visible) > .menu-item-title > .menu-chevron svg {
  transform: rotate(0);
}

.comment-mode-active .comment-mode-notice {
  opacity: 100%;
}

.comment-mode-notice {
  pointer-events: none;
  opacity: 0;
  position: absolute;
  top: calc(100% - 13px);
  left: 50%;
  border-radius: 30px;
  padding: 4px 20px;
  color: white;
  background: #ce528d;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  transform: translateX(-50%);
  white-space: nowrap;
}

.filter {
  flex-direction: row;
  gap: 8px;
  padding: 12px 10px;
  overflow: auto;
  display: none;
}
.filter.isActive {
  display: flex;
}
.filter-item {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 6px;
  border-radius: 10px;
  width: 36px;
  height: 36px;
}
.filter-item svg {
  fill: #322968;
}
.filter-item.isActive {
  background: #f9e2ed;
}
.filter-item.isActive svg {
  fill: #ce528d;
}

.shop-list-loader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(4px);
  z-index: 2;
  border-radius: 16px;
}
.shop-list-spinner svg {
  animation: rotate 2s linear infinite;
  fill: black;
  height: 40px;
}
.shop-list-notice {
  font-size: 12px;
  position: absolute;
  bottom: -24px;
  right: 0;
  opacity: 0.8;
}
.shop-list-form {
  background: linear-gradient(321deg, rgba(255, 255, 255, 0.7) 0%, rgba(235, 235, 235, 0.7) 100%);
  border-radius: 16px;
  padding: 20px;
  border: 4px solid #a5bd7b;
  position: relative;
  margin-top: 8px;
  margin-bottom: 20px;
}
.shop-list-form.isClosed {
  padding: 2px;
  min-height: 34px;
}
.shop-list-form.isClosed .shop-list-list, .shop-list-form.isClosed .shop-list-action {
  display: none;
}
.shop-list-form.isClosed .shop-list-title {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 0;
  justify-content: start;
  cursor: pointer;
}
.shop-list-form.isClosed .shop-list-total {
  margin: 0;
  z-index: 1;
  position: relative;
}
.shop-list-title {
  font-weight: bold;
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -4px;
  left: -4px;
  padding: 4px 10px;
  border-bottom-right-radius: 13px;
  background: #a5bd7b;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.shop-list-title svg {
  fill: white;
  height: 22px;
}
.shop-list-list {
  display: flex;
  flex-direction: column;
  gap: 0;
  border: 4px solid rgba(101, 128, 87, 0.1098039216);
  border-radius: 12px;
  overflow: hidden;
  margin-top: 20px;
}
.shop-list-item {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  filter: grayscale(0);
  transition: filter 0.25s ease;
}
.shop-list-item:nth-child(odd) {
  background: rgba(101, 128, 87, 0.1098039216);
}
.shop-list-item.isBought {
  filter: grayscale(0.8);
  text-decoration: line-through;
}
.shop-list-item[data-prio="1"] + [data-prio="1"], .shop-list-item[data-prio="5"] + [data-prio="5"], .shop-list-item[data-prio="10"] + [data-prio="10"], .shop-list-item[data-prio="15"] + [data-prio="15"], .shop-list-item[data-prio="20"] + [data-prio="20"] {
  padding-top: 0;
}
.shop-list-item[data-prio="1"] + [data-prio="1"]::before, .shop-list-item[data-prio="5"] + [data-prio="5"]::before, .shop-list-item[data-prio="10"] + [data-prio="10"]::before, .shop-list-item[data-prio="15"] + [data-prio="15"]::before, .shop-list-item[data-prio="20"] + [data-prio="20"]::before {
  display: none;
}
template + .shop-list-item.isBought, .shop-list-item:not(.isBought) + .isBought, .shop-list-item[data-prio="1"], .shop-list-item[data-prio="5"], .shop-list-item[data-prio="10"], .shop-list-item[data-prio="15"], .shop-list-item[data-prio="20"] {
  padding-top: 25px;
  position: relative;
}
template + .shop-list-item.isBought::before, .shop-list-item:not(.isBought) + .isBought::before, .shop-list-item[data-prio="1"]::before, .shop-list-item[data-prio="5"]::before, .shop-list-item[data-prio="10"]::before, .shop-list-item[data-prio="15"]::before, .shop-list-item[data-prio="20"]::before {
  content: "Bought";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 100%;
  padding: 4px;
  background: #bed1be;
  text-align: center;
  color: black;
}
.shop-list-item[data-prio="1"]::before, .shop-list-item[data-prio="5"]::before, .shop-list-item[data-prio="10"]::before, .shop-list-item[data-prio="15"]::before, .shop-list-item[data-prio="20"]::before {
  background: #e4e7e3;
  border-bottom: 1px solid #c7cdc9;
}
.shop-list-item[data-prio="1"]::before {
  content: "Important";
}
.shop-list-item[data-prio="5"]::before {
  content: "Would be great";
}
.shop-list-item[data-prio="10"]::before {
  content: "Thinking";
}
.shop-list-item[data-prio="15"]::before {
  content: "Low priority";
}
.shop-list-item-content {
  flex: 1;
  padding: 8px 16px;
}
.shop-list-item-author {
  border-radius: 50%;
  aspect-ratio: 1/1;
  background: #e4e7e3;
  padding: 0 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  color: #9ca29e;
  margin-left: 8px;
  margin-right: -15px;
}
.shop-list-item-action {
  display: flex;
  padding: 2px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  aspect-ratio: 1/1;
  border-radius: 30px;
}
.shop-list-item-action svg {
  height: 16px;
}
.shop-list-item-actions {
  display: flex;
  flex-direction: row;
  gap: 4px;
  padding: 10px;
}
.shop-list-item-link {
  display: flex;
  align-items: center;
  margin-right: 12px;
  color: #6d8286;
  font-weight: bold;
}
.shop-list-item-link svg {
  height: 16px;
  fill: #6d8286;
}
.shop-list-item-price {
  font-weight: bold;
  color: #708d3c;
}
.shop-list-item-remove {
  background: #ce528d;
}
.shop-list-item-remove svg {
  fill: white;
}
.shop-list-item-toggle {
  background: #3a8e9b;
}
.shop-list-item-toggle svg {
  fill: white;
}
.shop-list-inputs {
  display: flex;
  flex-direction: row;
  gap: 8px;
  flex: 1;
}
.shop-list-input {
  flex: 1;
}
.shop-list-input input, .shop-list-input select {
  padding: 12px 20px;
  border-radius: 30px;
  border: none;
  box-shadow: none;
  outline: none;
  width: 100%;
  font-size: 16px;
  opacity: 0.75;
  color: black;
  background: white;
  text-overflow: ellipsis;
}
.shop-list-input select {
  background: #a5c0e1;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}
.shop-list-input.isPrice {
  max-width: 90px;
}
.shop-list-input.isUrl, .shop-list-input.isPrio {
  max-width: 140px;
}
.shop-list-action {
  margin-top: 16px;
  display: flex;
  gap: 16px;
  display: flex;
  padding: 10px;
  background: #e4e6e4;
  border-radius: 30px;
}
.shop-list-add {
  border-radius: 100px;
  background: #a5bd7b;
  aspect-ratio: 1/1;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.shop-list-add svg {
  fill: white;
}
.shop-list-summary {
  text-align: right;
}
.shop-list-total {
  font-weight: bold;
  margin-top: 12px;
  background: #e4e7e3;
  padding: 4px 10px;
  border-radius: 10px;
  color: #697750;
  display: inline-block;
}

.config-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;
}
.config-item:last-child {
  border-top: 1px solid rgba(128, 128, 128, 0.3019607843);
}
.config-item-title {
  flex: 1;
}
.config-item-toggle {
  --var-toggle-bg-active: #d7e5d3;
  --var-toggle-fg-active: #a5bd7b;
  --var-toggle-bg-inactive: #f1c7db;
  --var-toggle-fg-inactive: #df659f;
  height: 24px;
  width: 45px;
  border-radius: 30px;
  background: var(--var-toggle-bg-active);
  cursor: pointer;
  border: 4px solid var(--var-toggle-bg-active);
  transition: all 0.25s ease;
  position: relative;
}
.config-item-toggle.isDisabled {
  text-align: left;
  background: var(--var-toggle-bg-inactive);
  border-color: var(--var-toggle-bg-inactive);
}
.config-item-toggle.isDisabled .config-item-toggle-bar {
  background: var(--var-toggle-fg-inactive);
  left: 0;
}
.config-item-toggle-bar {
  transition: all 0.25s ease;
  height: 100%;
  aspect-ratio: 1/1;
  display: inline-block;
  background: var(--var-toggle-fg-active);
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  left: calc(100% - 16px);
  top: 0;
}

body.hideGallery .group-gallery {
  display: none !important;
}

body.hideShoppingCart .shop-list-form {
  display: none !important;
}

body.hideWeChat .group-wechat {
  display: none !important;
}

body.isCompactView .group-gallery,
body.isCompactView .shop-list-form,
body.isCompactView .group-wechat {
  display: none !important;
}

.mobile-only {
  display: none;
}

/* mobile.scss */
@media (max-width: 900px) {
  html,
  body {
    width: 100%;
    overflow-x: hidden;
    font-size: 15px;
  }
  #App {
    display: block;
    padding: 0;
  }
  h1 {
    margin: 0 0 8px 0;
  }
  .area-main {
    max-width: 100%;
    padding: 8px;
  }
  .area-main > .group {
    padding: 0;
  }
  .area-menu {
    width: 100%;
    max-width: 100%;
    padding: 12px;
    background: rgba(255, 255, 255, 0.7882352941);
    box-shadow: 0 0 25px #d5d5d5;
    backdrop-filter: blur(5px);
  }
  .area-menu:has(.menu-toggle:checked) {
    height: 100vh;
    background: rgba(0, 0, 0, 0.9215686275);
  }
  .area-menu .iMenu {
    background-color: transparent;
  }
  .group {
    padding: 8px;
  }
  .group-title {
    gap: 6px;
  }
  .group .group.gTicketOptions, .group .group.gTimes {
    flex-direction: column;
  }
  .group-item {
    padding: 8px;
  }
  .group-item:has(> .group-icon) {
    padding-left: 8px !important;
  }
  .group-item:has(> .group-time) .group-title {
    max-width: calc(100% - 130px);
  }
  .group-time {
    display: inline-block;
    width: fit-content;
    position: absolute;
    right: 0;
    top: 9px;
    margin: 0;
    z-index: 4;
  }
  .group-icon {
    width: 28px;
    height: 28px;
    top: 12px;
    left: 5px;
    position: static;
  }
  .group-transportationTime {
    position: absolute;
    width: fit-content;
    margin: 0;
    right: 0;
    left: auto;
    top: -2px;
    z-index: 10;
    border-radius: 10px;
  }
  .group-transportationTime::after {
    display: none;
  }
  .group-links a {
    word-break: break-word;
  }
  .group-location a {
    flex-wrap: wrap;
  }
  .gal {
    overflow-x: auto;
  }
  .gal-wrapper {
    gap: 8px;
  }
  .gal-img {
    min-width: 220px;
    max-height: 220px;
  }
  .wechat:hover .wechat-img {
    display: none;
  }
  .wechat-img {
    display: block;
    max-width: 120px;
  }
  .todo {
    display: none;
  }
  .newMenu {
    padding: 12px;
    bottom: 12px;
    gap: 5px;
  }
  .newMenu svg {
    width: 20px;
    height: auto;
  }
  .newMenu-item {
    padding: 8px 11px;
    border-radius: 40px;
    font-size: 12px;
  }
  .newMenu-comment .newMenu-itemText, .newMenu-menu .newMenu-itemText, .newMenu-filter .newMenu-itemText, .newMenu-configs .newMenu-itemText {
    display: none;
  }
  .newMenu-menuWrapper {
    bottom: 90px;
  }
  .newMenu-menuWrapperInner {
    padding: 12px;
  }
  .shop-list-form {
    padding: 15px 10px 10px 10px;
  }
  .shop-list-item {
    flex-direction: column;
    gap: 6px;
    padding: 6px;
  }
  .shop-list-item > div {
    padding: 0;
  }
  .shop-list-item > div:first-child {
    padding-top: 6px;
  }
  .shop-list-item-author {
    display: none;
  }
  .shop-list-action {
    border-radius: 10px;
    flex-direction: column;
  }
  .shop-list-total {
    width: 100%;
    text-align: center;
  }
  .shop-list-add {
    width: 100%;
    aspect-ratio: unset;
    gap: 8px;
    font-weight: 600;
    color: white;
    align-items: center;
  }
  .shop-list-inputs {
    flex-direction: column;
  }
  .shop-list-inputs .shop-list-input {
    max-width: 100%;
    width: 100%;
  }
  span.mobile-only {
    display: inline-block;
  }
  .comment-mode-notice {
    font-size: 10px;
    padding: 4px 16px;
    top: -30px;
  }
  .plan-selector {
    padding: 25px;
    border-radius: 0px;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    flex: 1 1;
    aspect-ratio: unset;
  }
  .plan-selector-icon {
    max-width: 150px;
  }
  #PlanSelector {
    gap: 0;
    padding: 4px;
    flex-direction: column;
  }
  .plan-item.isVisible {
    padding: 4px;
    padding-bottom: 70px;
  }
}
.detached-comments {
  max-width: 900px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 160px;
  padding: 16px 20px;
  border-radius: 20px;
  border: 7px dotted #f4f4f4;
}
.detached-comments-title {
  margin: 0;
  font-size: 20px;
}
.detached-comments-list {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}
.detached-comments-item {
  padding: 6px 15px;
  border-radius: 20px;
  background: #fff;
  display: inline-flex;
  flex-direction: row;
  gap: 16px;
  box-shadow: 0 0 40px 1px rgba(0, 0, 0, 0.2588235294);
  align-items: center;
}
.detached-comments-message * {
  font-size: 12px;
  margin: 0;
}

#hpdcanvas {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
}

#HBDY {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999999999999;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hpdcanvas-text {
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;
  pointer-events: none;
  animation: pop 0.7s ease-out;
}
.hpdcanvas-text h1 {
  font-size: clamp(45px, 9vw, 120px);
  font-weight: 900;
  line-height: 1;
  color: #ffd700;
  text-shadow: 0 0 10px #fff, 0 0 30px #ff9900, 0 0 60px #ff00cc;
}
.hpdcanvas-text p {
  margin-top: 20px;
  font-size: clamp(16px, 3vw, 30px);
  letter-spacing: 5px;
}

@keyframes pop {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  70% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.messages {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 10px;
  width: 100%;
  max-width: min(500px, 95vw);
  gap: 12px;
  display: flex;
  flex-direction: column-reverse;
}

@keyframes msgLoading {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes msgFadeout {
  0% {
    opacity: 100%;
  }
  90% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
.message {
  --msg-border: #f38033;
  --msg-base: #ffeedb8a;
  display: flex;
  gap: 10px;
  background: var(--msg-base);
  border-radius: 25px;
  padding: 10px 15px;
  box-shadow: 0 0 25px 0px rgba(59, 59, 59, 0.2117647059);
  border: 1px solid var(--msg-border);
  backdrop-filter: blur(6px);
  overflow: hidden;
  position: relative;
  animation: msgFadeout 7s linear forwards;
}
.message.message-success {
  --msg-border: #758c4b;
  --msg-base: #e9ffdb8a;
}
.message::after {
  content: "";
  display: block;
  width: 50%;
  height: 5px;
  background: rgba(102, 102, 102, 0.2784313725);
  left: 0;
  bottom: 0;
  position: absolute;
  animation: msgLoading 7s linear forwards;
}
.message-icon svg {
  fill: var(--msg-border);
}
.message-title {
  font-weight: bold;
}
.message-text {
  flex: 1;
  color: #363636;
}
.message-content {
  display: flex;
  align-items: center;
  gap: 12px;
  flex: 1;
}
.message-body * {
  padding: 0;
  margin: 0;
}
.message-button {
  padding: 6px 15px;
  background: var(--msg-border);
  border-radius: 30px;
  font-weight: 500;
  color: white;
  cursor: pointer;
}

/*# sourceMappingURL=theme.css.map */
