body {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    color: #322968;
    background: white;
}

body,
html {
    width: 100vw;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

* {
    box-sizing: border-box;
}

[x-cloak] {
    display: none;
}

.comment-holder-dom {
    position: relative;
}

#App {
    * {
        scrollbar-width: none;
    }
}

h1 {
    text-align: center;
}

.plan-item {
    display: none;

    &.isVisible {
        display: flex;
        flex-direction: row;
        gap: 20px;
        max-width: 100vw;
        padding: 12px;
        padding-bottom: 65px;
    }
}

#Plans,
#PlanSelector {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.4s ease;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;

    &.isVisible {
        opacity: 100%;
        transform: translateX(0);
        position: static;
        pointer-events: unset;
        height: auto;
    }
}

#PlanSelector {
    display: flex;
    gap: 40px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    margin-inline: auto;
    max-width: 850px;
    flex-wrap: wrap;

    &.isVisible {
        height: 100dvh;
    }
}

.plan-selector {
    padding: 40px;
    color: white;
    aspect-ratio: 1 / 1;
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    border-radius: 80px;
    overflow: hidden;

    cursor: pointer;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);


    &,
    * {
        transition: all ease 0.25s;
    }

    &-icon {
        max-width: 200px;
    }

    &-dates {
        font-size: 16px;
    }

    &-title {
        margin-top: 12px;
        font-weight: bold;
        font-size: 24px;
    }

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #263e4894;
        z-index: -1;
        backdrop-filter: blur(2px);
    }

    &-bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
        overflow: hidden;

        &-img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &:hover {
        box-shadow: 0px 10px 61px 0px rgba(0, 0, 0, 0.35);

        .plan-selector {
            &-bg-img {
                width: calc(100% + 20px);
                height: calc(100% + 20px);
            }
        }

        &::before {
            backdrop-filter: blur(0);
        }
    }
}

.area {
    &-main {
        max-width: 1200px;
        margin-inline: auto;
        padding-right: 60px;
        width: 100%;

        &>.group {
            border: none;
            gap: 24px;
            border-radius: 24px;
        }
    }
}

.day-nr {
    text-transform: uppercase;
    padding: 4px 12px;
    background: #e0f4f4;
    color: #479696;
    margin-right: 12px;
    border-radius: 20px;
}

.group {
    padding: 16px 12px;
    background: #e9e9e947;
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 0.95em;

    &-title {
        font-size: 1.2em;
        font-weight: bold;
        display: flex;
        align-items: center;

        .date {
            font-weight: normal;
            margin-left: auto;
            display: inline-block;
            font-size: 0.9em;
        }
    }

    &-content {
        &:last-child {
            margin-bottom: 0;
        }
    }

    .group {
        --accentColorBg: #322968;
        --accentColor: white;

        position: relative;
        gap: 0;
        border-left: 5px solid var(--accentColorBg);
        padding-top: 24px;


        &>.group-item:nth-child(even) {
            background: #e1e1e170;
        }

        &.gDefault {
            padding-bottom: 0;
            border-top-left-radius: 16px;

            .gDefault {
                &::before {
                    content: 'SUB-PLAN';
                }
            }
        }

        &.gSections {
            border: none;
            padding: 0;
            gap: 12px;

            &::before {
                display: none;
            }

            &>.group-item {
                padding: 0;

                &:has(>.group-icon) {
                    padding-left: 52px;
                }

                &:nth-child(even) {
                    background: none;
                }
            }
        }

        &.gTicketOptions {
            --accentColorBg: #ffe29e;
            --accentColor: #b69375;
            flex-direction: row;
            border: 5px solid var(--accentColorBg);
            border-radius: 16px;

            &::before {
                content: 'TICKET OPTIONS';
                top: -5px;
                left: -5px;
                border-radius: 0;
                border-bottom-right-radius: 10px;
            }

            &>div {
                flex: 1 1;
            }
        }

        &.gTimes {
            --accentColorBg: #9eb8ff;
            --accentColor: #4d6486;
            flex-direction: row;
            border: 5px solid var(--accentColorBg);
            border-radius: 16px;

            &::before {
                content: 'TIMES';
                top: -5px;
                left: -5px;
                border-radius: 0;
                border-bottom-right-radius: 10px;
            }

            &>div {
                flex: 1 1;
            }
        }

        &::before {
            content: 'PLAN';
            position: absolute;
            left: 0;
            top: 0;
            padding: 4px 10px;
            font-size: 0.7em;
            font-weight: bold;
            background: var(--accentColorBg);
            color: var(--accentColor);
            letter-spacing: 1px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            border-top-left-radius: 10px;
        }

        .group-content {
            margin-top: -0.65em;
        }
    }

    &-item {
        position: relative;
        padding: 12px 10px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        border-radius: 16px;

        &:has(>.group-icon) {
            padding-left: 52px;
        }

        &.filterable-hidden:not(:has(.filterable-visible)),
        &:not(.filterable-visible):has(.filterable-hidden):not(:has(.filterable-visible)) {
            display: none;
        }
    }

    &-time {
        position: absolute;
        right: 16px;
        font-size: 0.9em;
        top: 11px;
        background: #eaefff;
        // border-radius: 30px;
        padding: 4px 10px;
        font-weight: bold;
        color: #4f7cff;
        border-radius: 10px;
    }

    &-icon {
        position: absolute;
        left: 10px;
        background: #e7e4f2;
        aspect-ratio: 1/1;
        display: block;
        width: 32px;
        height: 32px;
        align-items: center;
        justify-content: center;
        display: flex;
        top: 10px;
        border-radius: 8px;

        svg {
            fill: #4b417b;

            &.iOrange {
                fill: #ff5b4c;
            }
        }

        &:has(>.iOrange) {
            background: #ffe9e6;
        }
    }

    &-price,
    &-priceTransportation {
        &::before {
            display: inline-block;
            content: 'Price: ';
            margin-right: 5px;
            font-weight: bold;
        }
    }

    &-priceTransportation {
        &::before {
            content: 'Price (Transportation): ';
        }
    }

    &-links {
        &::before {
            display: block;
            content: 'Resources:';
            font-weight: bold;
        }

        a {
            display: flex;
            align-items: center;
            color: #322968;

            svg {
                display: inline-block;
                margin-right: 5px;
                aspect-ratio: 1/1;
                width: 16px;
                fill: #322968;
            }
        }
    }

    &-transportationTime {
        position: absolute;
        left: calc(100% + 10px);
        top: 0;
        transform: translateY(-50%);
        padding: 3px 10px;
        background: #f9e2ed;
        font-size: 0.8em;
        font-weight: bold;
        display: flex;
        gap: 4px;
        align-items: center;
        color: #ce528d;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;

        span {
            white-space: nowrap;
        }

        svg {
            fill: #ce528d;
            aspect-ratio: 1/1;
            height: 16px;
            width: auto;
        }

        &::before {
            content: '';
            background-image: url('./img/icons/time-drive.svg');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            display: inline-block;
            aspect-ratio: 1/1;
            width: 16px;
            background-position: center center;
        }

        &::after {
            content: "";
            height: 80px;
            position: absolute;
            border-left: 5px dotted #f9c1dc;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }

        &:has(svg) {
            &::before {
                display: none;
            }
        }

        &:has(>.tClock) {
            &::before {
                background-image: url('./img/icons/time-clock.svg');
            }
        }
    }

    &-location {
        a {
            display: flex;
            align-items: center;
            gap: 4px;
            color: #322968;
        }

        svg {
            height: 16px;
            width: auto;
            fill: #322968;
        }
    }

    &-mapLoc {
        display: none;
    }

    &-map {
        display: none;
    }
}

.gal {
    overflow-x: auto;

    &-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 4px;
    }

    &-img {
        aspect-ratio: 1/1;
        height: 100%;
        min-width: 320px;
        max-height: 320px;

        img {
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.wechat {
    padding: 8px;
    border: 4px solid #d2dada;
    text-align: left;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 4px;
    background: #eef0f1;
    padding-top: 30px;
    border-radius: 16px;

    &::before {
        content: 'WECHAT';
        display: block;
        font-weight: bold;
        color: #479696;
        font-size: 0.75em;
        background: #d2dada;
        padding: 4px 10px;
        position: absolute;
        left: -4px;
        top: -4px;
        border-bottom-right-radius: 10px;
    }

    &:hover {
        .wechat-img {
            display: block;
        }
    }

    &-label {
        display: flex;
        align-items: center;
        gap: 4px;
        cursor: pointer;
        font-weight: 600;

        svg {
            fill: #322968;
        }
    }

    &-img {
        display: none;
        max-width: 150px;
        filter: grayscale(1) contrast(1.5);
        mix-blend-mode: darken;
    }
}

.todo {
    position: fixed;
    right: 10px;
    bottom: 10px;
    font-size: 8px;
    z-index: 100;
    color: red;
    opacity: 0.5;
}

.comment {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(134, 138, 128, 0.45);
    z-index: 99999;
    opacity: 100%;
    transition: opacity 0.2s ease;

    &.isHidden {
        opacity: 0;
        pointer-events: none;
    }

    &-form {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;

        width: min(450px, calc(100vw - 2rem));
        border-radius: 12px;
        padding: 22px;
        padding-top: 32px;

        background: #ffffffac;
        background: linear-gradient(321deg,rgba(255, 255, 255, 0.7) 0%, rgba(235, 235, 235, 0.7) 100%);
        backdrop-filter: blur(8px);
        border-radius: 30px;

        box-shadow: 0 12px 60px rgba(0, 0, 0, 0.12),
        0 2px 8px rgba(0, 0, 0, 0.18);

        display: flex;
        flex-direction: column;
        gap: 20px;

        z-index: 1000;

        button,
        textarea {
            appearance: none;
            outline: none;
            box-shadow: none;
            border: none;
        }

        button {
            background: black;
            color: white;
            padding: 12px;
            font-weight: bold;
            border-radius: 30px;
            cursor: pointer;
            flex: 1 1;
            box-shadow: 0 0 50px 0 #0000001f;

            &.button-sec {
                color: #3a8e9b;
                background: #d1ecf0;
            }
        }
    }

    &-header {
        display: none !important;
        background: black;
        color: white;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        padding: 10px;
        display: flex;
        align-items: center;
        box-sizing: border-box;

        span {
            flex: 1;
        }

        svg {
            cursor: pointer;
            fill: white;
        }
    }

    &-buttons {
        display: flex;
        flex-direction: row;
        gap: 12px;
        padding: 10px;
        border-radius: 30px;
        background: #ffffff57;
        box-shadow: 0 0 50px 0 #0000001f;
        overflow: hidden;
    }

    &-input-wrapper {
        position: relative;
    }

    &-loader {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #0000008a;
        z-index: 99999;
        backdrop-filter: blur(2px);
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            fill: white;
            width: 48px;
            height: 48px;
            animation: rotate 2s linear infinite;
        }
    }
}

.wysi-wrapper {
    background: #ffffff54;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.comments {
    &-msgs {
        position: absolute;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        z-index: 999;
        right: calc(100% + 8px);
        top: 0;

        &:has(.local) {
            .comments-count {
                background: #30c4f1;
            }
        }

        &:has(.public) {
            .comments-count {
                background: #f1306f;
            }
        }

        &:has(.local):has(.public) {
            .comments-count {
                background: #f1a430;
            }
        }

        &-list {
            flex-direction: column;
            gap: 8px;
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            padding: 12px;
            box-shadow: 0 0 30px #0000004b;

            border-radius: 10px;
            border-top-left-radius: 0;
            background: linear-gradient(321deg, rgba(255, 255, 255, 0.7) 0%, rgba(235, 235, 235, 0.7) 100%);
            backdrop-filter: blur(8px);
        }

        &.isVisible {
            z-index: 1000;

            .comments {
                &-msgs-list {
                    display: flex;
                    max-width: 50vw;
                    width: 250px;
                }

                &-toggle {
                    z-index: 999;
                    position: relative;
                    background-color: #ffffff9e;
                    backdrop-filter: blur(8px);
                }
            }
        }
    }

    &-count {
        border-radius: 20px;
        background: #f1306f;
        color: white;
        text-align: center;
        font-size: 10px;
        font-weight: bold;
        position: absolute;
        right: 0;
        top: 0;
        transform: translate(50%, -50%);
        padding: 0 5px;
    }

    &-toggle {
        cursor: pointer;
        width: 20px;
        height: 20px;
        background-image: url('./img/icons/chat.svg');
        background-position: center center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
}

.comment-msg {
    font-weight: normal;
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding: 4px 8px;
    background: #a1a1a142;
    border-radius: 8px;
    position: relative;
    color: #323232;

    &:first-child,
    &:not(.myMsg) + .myMsg,
    &.myMsg + :not(.myMsg) {
        margin-top: 20px;
        &::before {
            content: attr(data-auth);
            display: block;
            font-size: 10px;
            position: absolute;
            top: -17px;
            opacity: 0.7;
        }
    }

    &::after {
        display: block;
        content: '';
        top: 0;
        position: absolute;

        border-top: 15px solid #a1a1a142;
    }

    &:not(.myMsg) {
        margin-left: 15px;
        border-top-left-radius: 0;
        margin-right: auto;

        &::after {
            left: -15px;
            border-left: 15px solid transparent;
        }

        & + :not(.myMsg) {
            &::after {
                display: none;;
            }
        }
    }
    
    &.myMsg {
        border-top-right-radius: 0;
        margin-right: 15px;
        background: #4f7cff30;
        margin-left: auto;

        &::before {
            right: 0;
        }

        &::after {
            right: -15px;
            border-right: 15px solid transparent;
            border-top-color: #4f7cff30;
        }

        & + .myMsg {
            &::after {
                display: none;;
            }
        }
    }

    p {
        margin: 0;
    }

    &-content {
        padding-top: 2px;
        flex: 1;
    }

    &-delete {
        box-sizing: border-box;
        aspect-ratio: 1/1;
        max-height: 22px;
        min-width: 22px;
        background: #f3d7d7;
        cursor: pointer;
        padding: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 7px;

        svg {
            fill: #ce528d;
        }
    }
}

.comment-mode {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 12px;
    z-index: 100;

    &-text {
        font-size: 12px;
        color: red;
        max-width: 200px;
        text-align: right;
        line-height: 1;
    }

    &-button {
        background: white;
        width: 32px;
        height: 32px;
        cursor: pointer;
        display: flex;
        padding: 4px;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 10px #0000004b;
        box-sizing: border-box;
    }

    &-status {
        font-weight: bold;
    }
}

body:not(.comment-mode-active) {
    .comment-form {
        display: none;
    }

    .comments-msgs {
        display: none;
    }

    .detached-comments {
        display: none;
    }
}

.weBubble {
    position: absolute;
    padding: 8px 14px;
    background: white;
    color: #111;
    border-radius: 999px;
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
    pointer-events: none;
    z-index: 1;

    opacity: 0;
    transform: scale(0.7) translateY(8px);

    animation: bubbleFade 2.5s ease-in-out forwards;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.12);

    &::after {
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        background: white;
        bottom: -3px;
        left: 20px;
        transform: rotate(45deg);
    }
}

@keyframes bubbleFade {
    0% {
        opacity: 0;
        transform: scale(0.7) translateY(8px);
    }

    20% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }

    70% {
        opacity: 1;
        transform: scale(1) translateY(-3px);
    }

    100% {
        opacity: 0;
        transform: scale(0.85) translateY(-12px);
    }
}

.newMenu {
    position: fixed;
    bottom: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    max-width: calc(100vw - 20px);
    background: #ffffffac;
    background: linear-gradient(321deg,rgba(255, 255, 255, 0.7) 0%, rgba(235, 235, 235, 0.7) 100%);
    backdrop-filter: blur(8px);
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 0 25px 0px #3b3b3b36;
    z-index: 9999;

    &.isFilter {
        border-radius: 24px;
    }

    &, * {
        transition: all 0.25s ease;
        scrollbar-width: none;
    }

    svg {
        fill: #2f2f3a;
    }

    &-filterItems {
        padding-inline: 10px;
        overflow: hidden;
    }

    &-item {
        display: flex;
        gap: 0px;
        align-items: center;
        justify-content: center;
        padding: 10px 15px;
        border-radius: 50px;
        cursor: pointer;
        font-size: 14px;
        font-weight: bold;

        &.isDisabled {
            pointer-events: none;
            svg {
                fill: #828282;
            }
        }

        &.isActive {
            background: #e0d7f3;
            color: #391d84;
            gap: 6px;

            &.newMenu-comment {
                background: #fbf0d4;
                color: #ca9a23;
                
                svg {
                    fill: #ca9a23;
                }
            }

            svg {
                fill: #391d84;
            }

            .newMenu {
                &-itemText {
                    max-width: 150px;
                }
            }
        }

        &Text {
            max-width: 0;
            overflow: hidden;
            white-space: nowrap;
        }
    }

    &-menuItems {
        overflow: auto;
        flex: 1;
    }

    &-menuWrapper {
        display: flex;
        max-height: 0;
        overflow: hidden;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        max-width: min(420px, calc(100vw - 20px));
        width: 100%;
        background: #ffffffac;
        background: linear-gradient(321deg,rgba(255, 255, 255, 0.7) 0%, rgba(235, 235, 235, 0.7) 100%);
        backdrop-filter: blur(8px);
        bottom: 120px;
        box-shadow: 0 0 25px 0px #3b3b3b36;
        border-radius: 30px;
        z-index: 999999;

        * {
            scrollbar-width: none;
        }

        &Inner {
            padding: 20px;
            display: flex;
            gap: 10px;
            flex-direction: column;
            width: 100%;

            &.isFilter {
                padding: 0px;
            }
        }

        &.isFilter {
            margin-inline: auto;
            width: auto;
            display: inline-block;
        }

        &.isActive {
            max-height: min(500px, 80vh);
        }
    }

    &-search {
        padding: 12px 20px;
        border-radius: 30px;
        border: none;
        box-shadow: none;
        outline: none;
        width: 100%;
        font-size: 16px;
        opacity: 0.75;
        color: black;
    }
}

.menu {
    display: none;

    &.isActive {
        display: block;
    }

    * {
        transition: all ease 0.25s;
        scrollbar-width: none;
    }

    &-link {
        color: black;
        padding: 12px 0;
        text-decoration: none;
        display: block;
        border-radius: 10px;
        flex: 1;
    }

    .date {
        font-size: 11px;
        color: #434343;
    }

    .day-nr {
        text-transform: uppercase;
        border-radius: 30px;
        font-size: 12px;
        font-weight: bold;
        background: #fbf0d4;
        color: #ca9a23;
        padding: 2px 8px;
        margin-right: 5px;
    }

    &-chevron {
        display: none;
        aspect-ratio: 1 / 1;
        align-items: center;
        justify-content: center;
        padding: 10px;

        svg {
            fill: black;
            transform: rotate(180deg);
        }
    }

    &-item {
        width: 100%;
        cursor: pointer;

        .menu-children {
            max-height: 0;
            padding-left: 10px;
            border-left: 5px solid rgba(57, 29, 132, 0.273);
            background: linear-gradient(321deg,rgba(255, 255, 255, 0.2) 0%, rgba(235, 235, 235, 0.2) 100%);
            backdrop-filter: blur(8px);
            border-radius: 0 0 20px 0;
            overflow: hidden;
            font-size: 0.9em;
            display: flex;
            flex-direction: column;

            .menu-link {
                padding: 0.8em;
            }
        }

        &.isOpen {
            & > .menu-children {
                max-height: 450px;
            }

            & > .menu-item-title > .menu-chevron {
                svg {
                    transform: rotate(0);
                }
            }
        }

        &.isOpen, &:hover {
            & > .menu-item-title > .menu-link {
                color:#391d84;
                font-weight: 600;
            }
        }

        &-title {
            display: flex;
            gap: 8px;
            align-items: center;
        }

        &.hasChildren {
            & > .menu-item-title > .menu-chevron {
                display: flex;
            }
        }

        &.searchable-hidden {
            display: none;
        }

        &:has(.searchable-visible) {
            display: block;

            & > .menu-children {
                max-height: 450px;
            }

            & > .menu-item-title > .menu-chevron {
                svg {
                    transform: rotate(0);
                }
            }
        }
    }
}

.comment-mode-active {
    .comment-mode-notice {
        opacity: 100%;
    }
}

.comment-mode-notice {
    pointer-events: none;
    opacity: 0;
    position: absolute;
    top: calc(100% - 13px);
    left: 50%;
    border-radius: 30px;
    padding: 4px 20px;
    color: white;
    background: #ce528d;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    transform: translateX(-50%);
    white-space: nowrap;
}


.filter {
    flex-direction: row;
    gap: 8px;
    padding: 12px 10px;
    overflow: auto;
    display: none;

    &.isActive {
        display: flex;
    }

    &-item {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: 6px;
        border-radius: 10px;
        width: 36px;
        height: 36px;

        svg {
            fill: #322968;
        }

        &.isActive {
            background: #f9e2ed;
            svg {
                fill: #ce528d;
            }
        }
    }
}

.shop-list,
.todo{
    &-loader {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(4px);
        z-index: 2;
        border-radius: 16px;
    }

    &-spinner {
        svg {
            animation: rotate 2s linear infinite;
            fill: black;
            height: 40px;
        }
    }

    &-notice {
        font-size: 12px;
        position: absolute;
        bottom: -24px;
        right: 0;
        opacity: 0.8;
    }

    &-form {
        --list-accent-color: #a5bd7b;
        background: linear-gradient(321deg, rgba(255, 255, 255, 0.7) 0%, rgba(235, 235, 235, 0.7) 100%);
        border-radius: 16px;
        padding: 20px;
        border: 4px solid var(--list-accent-color);
        position: relative;
        margin-top: 8px;
        margin-bottom: 20px;

        &.isClosed {
            padding: 2px;
            min-height: 34px;

            .shop-list {
                &-list,
                &-action {
                    display: none;
                }

                &-title {
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 0;
                    justify-content: start;
                    cursor: pointer;
                }

                &-total {
                    margin: 0;
                    z-index: 1;
                    position: relative;
                }
            }
        }
    }

    &-title {
        font-weight: bold;
        display: flex;
        gap: 4px;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -4px;
        left: -4px;
        padding: 4px 10px;
        border-bottom-right-radius: 13px;
        background: var(--list-accent-color);
        color: white;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1px;

        svg {
            fill: white;
            height: 22px;
        }
    }

    &-list {
        display: flex;
        flex-direction: column;
        gap: 0;
        border: 4px solid #6580571c;
        border-radius: 12px;
        overflow: hidden;
        margin-top: 20px;
    }

    &-item {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        filter: grayscale(0);
        transition: filter 0.25s ease;

        &:nth-child(odd) {
            background: #6580571c;
        }

        &.isBought,
        &.isDone {
            filter: grayscale(0.8);
            text-decoration: line-through;
        }

        &[data-prio="1"] + [data-prio="1"],
        &[data-prio="5"] + [data-prio="5"], 
        &[data-prio="10"] + [data-prio="10"], 
        &[data-prio="15"] + [data-prio="15"],
        &[data-prio="20"] + [data-prio="20"] {
            padding-top: 0;
            
            &::before {
                display: none;
            }
        }

        template + &.isBought,
        &:not(.isBought) + .isBought,
        template + &.isDone,
        &:not(.isDone) + .isDone,
        &[data-prio="1"],
        &[data-prio="5"],
        &[data-prio="10"],
        &[data-prio="15"],
        &[data-prio="20"] {
            padding-top: 25px;
            position: relative;

            &::before {
                content: 'Bought';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                font-size: 12px;
                letter-spacing: 1px;
                text-transform: uppercase;
                width: 100%;
                padding: 4px;
                background: #bed1be;
                text-align: center;
                color: black;
            }
        }

        &[data-prio="1"],
        &[data-prio="5"],
        &[data-prio="10"],
        &[data-prio="15"],
        &[data-prio="20"] {
            &::before {
                background: #e4e7e3;
                border-bottom: 1px solid #c7cdc9;
            }
        }

        &[data-prio="1"]::before { content: 'Important'; }
        &[data-prio="5"]::before { content: 'Would be great'; }
        &[data-prio="10"]::before { content: 'Thinking'; }
        &[data-prio="15"]::before { content: 'Low priority'; }


        &-content {
            flex: 1;
            padding: 8px 16px;
        }

        &-author {
            border-radius: 50%;
            aspect-ratio: 1 / 1;
            background: #e4e7e3;
            padding: 0 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            font-weight: bold;
            color: #9ca29e;
            margin-left: 8px;
            margin-right: -15px;
        }
        
        &-action {
            display: flex;
            padding: 2px;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            aspect-ratio: 1 / 1;
            border-radius: 30px;

            svg {
                height: 16px;
            }
        }

        &-actions {
            display: flex;
            flex-direction: row;
            gap: 4px;
            padding: 10px;
        }

        &-link {
            display: flex;
            align-items: center;
            margin-right: 12px;
            color: #6d8286;
            font-weight: bold;

            svg {
                height: 16px;
                fill: #6d8286;
            }
        }

        &-price {
            font-weight: bold;
            color: #708d3c;
        }

        &-remove {
            background:#ce528d;
            svg {
                fill: white;
            }
        }

        &-toggle {
            background: #3a8e9b;
            svg {
                fill: white;
            }
        }
    }

    &-inputs {
        display: flex;
        flex-direction: row;
        gap: 8px;
        flex: 1;
    }
    
    &-input {
        flex: 1;

        input, select {
            padding: 12px 20px;
            border-radius: 30px;
            border: none;
            box-shadow: none;
            outline: none;
            width: 100%;
            font-size: 16px;
            opacity: 0.75;
            color: black;
            background: white;
            text-overflow: ellipsis;
        }

        select {
            background: #a5c0e1;
            -webkit-appearance: none;
            -moz-appearance: none;
            cursor: pointer;
        }

        &.isPrice {
            max-width: 90px;
        }

        &.isUrl, &.isPrio {
            max-width: 140px;
        }
    }

    &-action {
        margin-top: 16px;
        display: flex;
        gap: 16px;
        display: flex;
        padding: 10px;
        background: #e4e6e4;
        border-radius: 30px;
    }

    &-add {
        border-radius: 100px;
        background: var(--list-accent-color);
        aspect-ratio: 1 / 1;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        svg {
            fill: white;
        }
    }

    &-summary {
        text-align: right;
    }

    &-total {
        font-weight: bold;
        margin-top: 12px;
        background: #e4e7e3;
        padding: 4px 10px;
        border-radius: 10px;
        color: #697750;
        display: inline-block;
    }
}

.todo {
    &-form {
        --list-accent-color: #679bc1;
        border: none;
        background: #ececec;
        padding: 20px 10px 10px 10px;
    }

    &-title {
        top: 0;
        left: 0;
    }

    &-action {
        background: transparent;
        padding: 0;
    }

    &-item {
        template + &.isDone,
        &:not(.isDone) + .isDone {
            &::before {
                content: 'Done';
            }
        }
    }
}

.config-item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;

    &:last-child {
        border-top: 1px solid #8080804d;
    }

    &-title {
        flex: 1;
    }

    &-toggle {
        --var-toggle-bg-active: #d7e5d3;
        --var-toggle-fg-active: #a5bd7b;
        --var-toggle-bg-inactive: #f1c7db;
        --var-toggle-fg-inactive: #df659f;

        height: 24px;
        width: 45px;
        border-radius: 30px;
        background: var(--var-toggle-bg-active);
        cursor: pointer;
        border: 4px solid var(--var-toggle-bg-active);
        transition: all 0.25s ease;
        position: relative;

        &.isDisabled {
            text-align: left;
            background: var(--var-toggle-bg-inactive);
            border-color: var(--var-toggle-bg-inactive);

            .config-item {
                &-toggle {
                    &-bar {
                        background: var(--var-toggle-fg-inactive);
                        left: 0;
                    }
                }
            }
        }

        &-bar {
            transition: all 0.25s ease;
            height: 100%;
            aspect-ratio: 1 / 1;
            display: inline-block;
            background: var(--var-toggle-fg-active);
            border-radius: 50%;
            overflow: hidden;
            position: absolute;
            left: calc(100% - 16px);
            top: 0;
        }
    }
}

body.hideGallery {
    .group-gallery {
        display: none !important;
    }
}

body.hideShoppingCart {
    .shop-list-form {
        display: none !important;
    }
}

body.hideTodo {
    .todo-form {
        display: none !important;
    }
}

body.hideWeChat {
    .group-wechat {
        display: none !important;
    }
}

body.isCompactView {
    .group-gallery,
    .shop-list-form,
    .group-wechat,
    .todo-form {
        display: none !important;
    }
}

.mobile-only {
    display: none;
}

/* mobile.scss */
@media (max-width: 900px) {
    html,
    body {
        width: 100%;
        overflow-x: hidden;
        font-size: 15px;
    }

    #App {
        display: block;
        padding: 0;
    }

    h1 {
        margin: 0 0 8px 0;
    }

    .area {
        &-main {
            max-width: 100%;
            padding: 8px;

            &>.group {
                padding: 0;
            }
        }

        &-menu {
            width: 100%;
            max-width: 100%;
            padding: 12px;
            background: #ffffffc9;
            box-shadow: 0 0 25px #d5d5d5;
            backdrop-filter: blur(5px);

            &:has(.menu-toggle:checked) {
                height: 100vh;
                background: #000000eb;
            }

            .iMenu {
                background-color: transparent;
            }
        }
    }

    .group {
        padding: 8px;

        &-title {
            gap: 6px;
        }

        .group {

            &.gTicketOptions,
            &.gTimes {
                flex-direction: column;
            }
        }

        &-item {
            padding: 8px;

            &:has(>.group-icon) {
                padding-left: 8px !important;
            }

            &:has(>.group-time) {
                .group-title {
                    max-width: calc(100% - 130px);
                }
            }
        }

        &-time {
            display: inline-block;
            width: fit-content;
            position: absolute;
            right: 0;
            top: 9px;
            margin: 0;
            z-index: 4;
        }

        &-icon {
            width: 28px;
            height: 28px;
            top: 12px;
            left: 5px;
            position: static;
        }

        &-transportationTime {
            position: absolute;
            width: fit-content;
            margin: 0;
            right: 0;
            left: auto;
            top: -2px;
            z-index: 10;
            border-radius: 10px;

            &::after {
                display: none;
            }
        }

        &-links {
            a {
                word-break: break-word;
            }
        }

        &-location {
            a {
                flex-wrap: wrap;
            }
        }
    }

    .gal {
        overflow-x: auto;

        &-wrapper {
            gap: 8px;
        }

        &-img {
            min-width: 220px;
            max-height: 220px;
        }
    }

    .wechat {

        &:hover {
            .wechat-img {
                display: none;
            }
        }

        &-img {
            display: block;
            max-width: 120px;
        }
    }

    .todo {
        display: none;
    }

    .newMenu {
        padding: 12px;
        bottom: 12px;
        gap: 5px;

        svg {
            width: 20px;
            height: auto;
        }

        &-item {
            padding: 8px 11px;
            border-radius: 40px;
            font-size: 12px;
        }

        &-comment,
        &-menu,
        &-filter,
        &-configs {
            .newMenu-itemText {
                display: none;
            }
        }

        &-menuWrapper {
            bottom: 90px;

            &Inner {
                padding: 12px;
            }
        }
    }

    .shop-list,
    .todo {
        &-form {
            padding: 15px 10px 10px 10px;
        }
        
        &-item {
            flex-direction: column;
            gap: 6px;
            padding: 6px;

            & > div {
                padding: 0;

                &:first-child {
                    padding-top: 6px;
                }
            }

            &-author {
                display: none;
            }
        }

        &-action {
            border-radius: 10px;
            flex-direction: column;
        }

        &-total {
            width: 100%;
            text-align: center;
        }

        &-add {
            width: 100%;
            aspect-ratio: unset;
            gap: 8px;
            font-weight: 600;
            color: white;
            align-items: center;
        }

        &-inputs {
            flex-direction: column;

            .shop-list-input {
                max-width: 100%;
                width: 100%;
            }
        }
    }

    span.mobile-only {
        display: inline-block;
    }

    .comment-mode-notice {
        font-size: 10px;
        padding: 4px 16px;
        top: -30px;
    }

    .plan-selector {
        padding: 25px;
        border-radius: 0px;
        max-height: 100%;
        max-width: 100%;
        width: 100%;
        flex: 1 1;
        aspect-ratio: unset;

        &-icon {
            max-width: 150px;
        }
    }

    #PlanSelector {
        gap: 0;
        padding: 4px;
        flex-direction: column;
    }

    .plan-item.isVisible {
        padding: 4px;
        padding-bottom: 70px;
    }
}


.detached-comments {
    max-width: 900px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 160px;
    padding: 16px 20px;
    border-radius: 20px;
    border: 7px dotted #f4f4f4;

    &-title {
        margin: 0;
        font-size: 20px;
    }

    &-list {
        font-size: 12px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 16px;
    }

    &-item {
        padding: 6px 15px;
        border-radius: 20px;
        background: #fff;
        display: inline-flex;
        flex-direction: row;
        gap: 16px;
        box-shadow: 0 0 40px 1px #00000042;
        align-items: center;
    }

    &-message {
        * {
            font-size: 12px;
            margin: 0;
        }
    }
}

#hpdcanvas {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
}

#HBDY {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999999999999;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hpdcanvas {
    &-text {
        position: relative;
        z-index: 2;
        text-align: center;
        color: white;
        pointer-events: none;
        animation: pop 0.7s ease-out;

        h1 {
            font-size: clamp(45px, 9vw, 120px);
            font-weight: 900;
            line-height: 1;
            color: #ffd700;
            text-shadow:
                0 0 10px #fff,
                0 0 30px #ff9900,
                0 0 60px #ff00cc;
        }

        p {
            margin-top: 20px;
            font-size: clamp(16px, 3vw, 30px);
            letter-spacing: 5px;
        }
    }
}

@keyframes pop {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    70% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.messages {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
    width: 100%;
    max-width: min(500px, 95vw); 
    gap: 12px;
    display: flex;
    flex-direction: column-reverse;
}

@keyframes msgLoading {
    0% { width: 0%; }
    100% { width: 100%; }
}

@keyframes msgFadeout {
    0% { opacity: 100%; }
    90% { opacity: 100%; }
    100% { opacity: 0%; }
}

.message {
    --msg-border: #f38033;
    --msg-base: #ffeedb8a;
    display: flex;
    gap: 10px;
    background: var(--msg-base);
    border-radius: 25px;
    padding: 10px 15px;
    box-shadow: 0 0 25px 0px rgba(59, 59, 59, 0.2117647059);
    border: 1px solid var(--msg-border);
    backdrop-filter: blur(6px);
    overflow: hidden;
    position: relative;
    animation: msgFadeout 7s linear forwards;

    &.message-success {
        --msg-border: #758c4b;
        --msg-base: #e9ffdb8a;
    }

    &::after {
        content: '';
        display: block;
        width: 50%;
        height: 5px;
        background: #66666647;
        left: 0;
        bottom: 0;
        position: absolute;
        animation: msgLoading 7s linear forwards;
    }

    &-icon {
        svg {
            fill: var(--msg-border);
        }
    }

    &-title {
        font-weight: bold;
    }

    &-text {
        flex: 1;
        color: #363636;
    }

    &-content {
        display: flex;
        align-items: center;
        gap: 12px;     
        flex: 1; 
    }

    &-body {
        * {
            padding: 0;
            margin: 0;
        }
    }

    &-button {
        padding: 6px 15px;
        background: var(--msg-border);
        border-radius: 30px;
        font-weight: 500;
        color: white;
        cursor: pointer;
    }
}